# Python cache
__pycache__/
*.py[cod]

# Archivos de salida (comentados si necesitas conservar README)
#output/
!output/README.md

# Zips de datasets
data/*.zip

# Notebooks temporales (por si se guardan ahí)
.ipynb_checkpoints/
